@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #F4F4F4;
}

.logo {
position: absolute;
width: 56.78px;
height: 48.35px;
left: 95px;
top: 41px;
}

.topnav ul {
list-style: none;
display: flex;
justify-content: space-around;
width: 18%;
font-family: 'Fira Sans', sans-serif;
float: right;
padding: 45px;
margin-right: 30px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
  
  
}
.topnav li {
  text-transform: uppercase;
}
.topnav a {
  color: #333;
  text-decoration: none;
  font-size: 14px !important;
}
.topnav a:hover {
  text-decoration: underline;
}

.h1eg {
position: absolute;
width: 569px;
height: 88px;
left: 126px;
top: 209px;
font-family: 'Fira Sans';
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 70px;
letter-spacing: -1px;
color: #151515;

}

.p1eg {
  position: absolute;
  width: 420px;
  height: 46px;
  left: 126px;
  top: 364px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
}

.p1dv{
  position: absolute;
  width: 474px;
  height: 137px;
  left: 80px;
  top: 310px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;

}

.button {
  background-color: #4737FF;
  border: none;
  color: white !important; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 126px;
  right: 0%;
  top: 490px;
}

.triangles {
position: absolute;
width: 560.83px;
height: 1381.67px;
left: 788px;
top: -400px;
z-index: -5;
}

/* .pic2 {
  position: absolute;
  left: 615px;
  top: 142px;
}

.pic3 {
  position: absolute;
  left: 80px;
  top: 1100px;
} */

.h2eg {
  position: absolute;
  width: 382px;
  height: 50px;
  left: 756px;
  top: 1100px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 70px;
  letter-spacing: -1px;
  color: #151515;
}

.p2 {
  position: absolute;
  width: 445px;
  height: 164px;
  left: 756px;
  top: 1189px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
}

.pic4 {
  position: absolute;
  left: 756px;
  top: 1610px;
}

.pname {
  position: absolute;
  width: 202px;
  height: 26px;
  left: 840px;
  top: 1610px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #222222;
}

.pdesc {
  position: absolute;
  width: 189px;
  height: 21px;
  left: 840px;
  top: 1640px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
}

.footer {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 1840px;
  background: #515151;
}


.logo2 {
  position: absolute;
  width: 60px;
  height: 30px;
  left: 80px;
  top: 1880px;
  font-family: 'Caveat';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
}


@media only screen and (max-width: 768px) {
  .logo {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 40px;
    top: 30px;
  }
  .topnav ul {
    margin-top:10px;
    width:45%;
    font-size: 12px;
    float:none;
    margin-left:210px;
}

  .h1eg {
  font-size: 40px;
  left:40px;
  width: 300px;
  line-height: 55px;
  letter-spacing: -2px;
  margin-top: -30px;
  }
  .p1eg{
    width:300px;
    left:40px;
    margin-top:-70px;
  }

  .p1dv{
    width:300px;
    left:40px;
    margin-top:-70px;
  }

  .button{
    margin-top: -20px;
    left:100px;
  }
  .pic1 {
    left: 40px;
    top: 700px;
    width: 300px;
    height: 210px;
  }
  .pic2 {
    left: 30px;
    top: 942px;
    height:500px;
    width: 325px;
  }
  .pic3{
    left:35px;
    top:2220px;
    height: 400px;
    width: 311px;
  }
  .h2eg{
    left:40px;
    width: 300px;
    margin-top:400px;
    line-height: 55px;
    letter-spacing: -1px;
    font-size: 32px;
  }
  .p2{
    left:40px;
    width: 305px;
    margin-top: 380px;
    font-size: 16px;
  }
  .pname{
    left:120px;
    margin-top: 500px;
  }
  .pdesc{
    left:120px;
    margin-top: 510px;
  }
  .pic4{
    left: 40px;
    margin-top: 500px;
  }
  .footer{
    top:2700px;
    height: 100px;
  }
  .logo2{
    left: 40px;
    top:2730px;
  }
  .footerline{
  display: none;
}
}
.video{
  margin-left: 650px;
  margin-top: 100px;
}
#myRoadz{
position: absolute;
width: 170px;
height: 170px;
left: 200px;
top: 1128px;
}
.nobhill{
position: absolute;
width: 170px;
height: 170px;
left: 571px;
top: 1128px;
}
.sparkbeat{
position: absolute;
width: 170px;
height: 170px;
left: 982px;
top: 1128px;
}
.chmav{
position: absolute;
width: 170px;
height: 170px;
left: 200px;
top: 1415px;

}

.hp{
position: absolute;
width: 170px;
height: 170px;
left: 579px;
top: 1415px;
 }
.web{
position: absolute;
width: 170px;
height: 170px;
left: 982px;
top: 1415px;
   }

html {
  scroll-behavior: smooth;
}

#section2 {
  position: absolute;
  top:1050px;;
  }

  #section1{
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: white;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

.fade-in2{
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
  -moz-animation: fadeIn ease 6s;
  -o-animation: fadeIn ease 6s;
  -ms-animation: fadeIn ease 6s;
}

.fade-in3{
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
.fade-in4{
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
.fade-in5{
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.fade-in6{
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
.fade-in7{
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
.fade-in8{
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}
.fade-in9{
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
.fade-in10{
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}
.fade-in11{
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
.topnav{
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
.logo{
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}